/*.button {
    min-width: 300px;
    min-height: 60px;
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #313133;
    background: #b77357;
    background: linear-gradient(
        90deg,
        rgb(216, 143, 178) 0%,
        rgb(94, 79, 209) 100%
    );
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px rgba(15, 51, 47, 0.64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
}

button::before {
    content: '';
    border-radius: 500px;
    min-width: calc(300px + 12px);
    min-height: calc(60px + 12px);
    border: 4px solid #c27ae6;
    box-shadow: 0 0 0px rgba(19, 22, 200, 0.64);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}

.button:hover,
.button:focus {
    color: #313133;
    transform: translateY(-20px);
}

button:hover::before,
button:focus::before {
    opacity: 1;
}
<Title>CONNECT WITH MSM</Title>
                <List>
                    <ConectItem>
                        <Room /> Assiut Manqbad 27 Elgazeera
                    </ConectItem>
                    <ConectItem>
                        <Phone />
                               +02  888 777 777 44
                    </ConectItem>
                    <ConectItem>
                        <Email />
                        contact@msm.tech
                    </ConectItem>
                    <ConectItem>
                        <Support />
                        Product help, Report an issue
                    </ConectItem>
                </List>
                <Payment src="https://store.webkul.com/skin/frontend/webkul/sky/images/secure-payment-methods.png" />
            
*/
.body{
    background-color: #2e2f30;
}